body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#grad-body {

    background-color: orangered;
    background: #ffc02a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff722a, #ffc02a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff722a, #ffc02a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
}

/* Nav bar */

#brand-img-nav{
    height: 80px;
}
#navigation-bar{
    width: 100%;
    position: fixed;
    background: #ffc02a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff722a, #ffc02a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff722a, #ffc02a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#navigation-link {
    margin-top: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#navigation-link:hover {
    background-color: blue;
    color: white;
}

/* First section*/
#landing-img{
    margin-top: 7%;
    margin-left: 29%;
    width: 500px;
   
}

#search-sec h4 {
    color: white;
}

 

#search-field label {
    text-align: center;
  
    font-weight: bold;
    margin-bottom: 5px;

}

#text-service {
    border-radius: 5px;
    border: 2px solid white;
    margin-right: 10px;
    background-image: url('https://cdn.iconscout.com/icon/free/png-256/search-1768073-1502246.png');
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 30px;

}

/* Section 2*/
/*This class comes from slick, here I am defining the cards div size*/
.slick-list{
   
    height: 100%;
    width: 750px;
}

 
.services-img {
    width: 100%;
    height: 585px;

    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 283px;
    margin-bottom: 75px;

    position: relative;
}

.card-services {
    background-color: white;
    font: black;
    border-radius: 5px;
    text-align: center;
    height: 250px;
    margin-right: 80px;
    
    box-shadow:  3px 3px 9px 1px #000;
}

#align-cards {
    position:absolute;
  
    width: 920px;
    
    top:48%;
    left: 20%;
    
    
}
 

 
.img-center-card {
display: block;
margin: auto;
width: 50px;
height: 50px;
}
.card-body a{
text-decoration: none;

}

/* Login panel */


.popup-login-text {
    color: black;
    
}


 

.modal-field{
   margin-top: 10px;
    margin-bottom: 30px;
}

.modal-footer label {
    color: black;

}

#forgot-password{
    text-align: center;
    margin-top: 15px;
}
#forgot-password a {
     
    text-decoration: none;
}

/* Buttom modal size */

.btn-size {
    width: 35%;
}

/* Register modal */
#teste{
    padding: 0;
	width: 100%;
}
#teste div{
    
    margin: 0px 20px 0px 0px;
}


/* Footer */

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
 
.footer-bar {
    background-color: blue;

}

.footer-links li {

    margin-bottom: 15px;
}

.footer-links ul {
    padding-left: 250px;

}

.brand-img-footer {
    padding-bottom: 10px;
    padding-left: 30px;
    margin-top: 15px;
    height: 60px;

}



/******************************** 
        Contact us page
*********************************/

.policies-img {

    width: 100%;

}

.contact-div {
    background-color: white;
    height: 800px;
}

/* Policies content */
.about-policies {
    margin-top: 25px;

}

.about-policies h2 {

    font-weight: bold;
    color: black;

}

.members-img img {
    padding-left: 65px;
    padding-bottom: 90px;
}

.policy-bar {
    margin-top: 40px;
    text-align: right;
}

.policy-link {
    text-decoration: none;
    font-style: italic;
}

/*Modal popup policy   */
.popup-header {
    background-color: blue;

}

.popup-header span {
    color: white;

}

#policies-title {
    color: white;

}

.popup-body {
    height: 350px;
    overflow: hidden;

}

.policy-btn {
    padding: 20px;
}


.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    border-radius: 50%;
}


.profile-pic img {
    max-width: 100%;
    height: auto;
}



/**************************************
            Contact page 
 ***************************************/ 
#status{
    height: 65px;
    width: 100%;
    margin-left: 15px;
    border-radius: 4px;
}

#status.success{
    background-color: rgba(29, 138, 29, 0.664);
    animation: status 4s ease forwards;
    color: white;
    font-size: 15px;
   padding: 5px 13px 5px 13px;
}



#status.error{
    background-color: rgba(rgb(201, 28, 28);
    color: white;
    font-size: 15px;
    animation: status 4s ease forwards;
    padding: 5px 13px 5px 13px;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}